.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon > img {
  width: 100px;
  border: 1px solid black;
}

.pokemon__name {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  font-family: 'Combo', cursive;
  font-size: 20px;
}